.button {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: inherit;
    cursor: pointer;
    color: black;
    font-size: 12px;
    opacity: 1;
    transition: all 0.2s linear;
}

.button:hover {
    background-color: blue;
    color: white;
}

.button:disabled {
    background-color: inherit;
    color: black;
    opacity: 0.4;
    cursor: not-allowed;
}