.app {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.container {
  width: 100%;
  min-height: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
}
