.main {
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: auto;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;
    padding: 12px 0;
}

.cards-box {
    max-width: 50%;
    width: 100%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}